body {
	box-sizing: border-box;
	font: {
		family: 'Catamaran', sans-serif;
		size: $defaultFontSize;
		weight: 400;
	}
	color: $bodyColor;
}

h1, h2, h3, h4, h5, h6 {
	font: {
		weight: 700;
	}
}

h1 {
	max-width: 1280px;
	margin: {
		left: auto;
		right: auto;
	}
	text-transform: uppercase;
}

.content-container {
	max-width: 1280px;
	margin: 0 auto;
	display: grid;
	grid-template-columns: 50% 50%;
	grid-gap: 20px;
	.content {
		position: relative;
		border: 1px solid #ccc;
		.example {
			height: 400px;
			border: 1px solid #000;
		}
		.example-1 {

		}
		.example-2 {
			.example-2-padding {
				padding: 40px;
			}
		}
		.example-3,
		.example-4 {
			.example-content {
				width: 1000px;
			}
		}
		.example-8 {
			.example-8-padding {
				padding: 30px;
			}
		}
		.example-9 {
			.example-9-padding {
				padding: 40px;
			}
		}
	}
}